.App {
  max-width: 25rem;
  width: 100%;
}

@media (max-width: 767px) {
  .App {
    padding: 0 1rem;
  }
}

@media (min-width: 768px) {
  .App {
    margin: 5rem auto 0;
  }
}

.App__title {
  align-items: center;
  display: flex;
  font-weight: 500;
  justify-content: center;
  margin: 1rem 0;
  text-align: center;
}

.App__lead {
  margin: 1rem 0 2rem;
  text-align: center;
}

.App__footer {
  margin-top: 2rem;
}

.App__footer__block {
  display: block;
  font-size: .7rem;
  margin: .5rem 0;
  text-align: center;
}

.App__footer__block,
.App__footer__block a {
  color: rgba(255, 255, 255, .35);
}
