.App {
  margin: 5rem auto 0;
  max-width: 25rem;
  width: 100%;
}

.App__title {
  align-items: center;
  display: flex;
  font-weight: 500;
  justify-content: center;
  margin: 1rem 0;
  text-align: center;
}

.App__lead {
  margin: 1rem 0 2rem;
  text-align: center;
}
